

<nav class="nav">
  <ul class="nav-menu">
    <li class="nav-item"><a class="nav-link" routerLink="apple"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/apple.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="samsung"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/samsung.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="mi"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/xiaomi.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="lg"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/lg.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="sony"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/sony.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="nokia"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/nokia.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="philips"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/philips.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="huawei"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/huawei.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="jbl"><img class="nav__img" src="https://content2.rozetka.com.ua/constructor/images_site/original/412386451.jpg" ></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="cannon"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/smartfony_tv_i_elektronika/brand/canon.jpg" ></a></li>
  </ul>
</nav>

<router-outlet></router-outlet>